<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h3><%= producto.nombre %> <%= producto.modelo %></h3>
        <div>
            <p><%= producto.descripcion %></p>
            <p style="color:orange">tamaño: FALTA OBTENER EL DATO FALLA EL ALIAS <%= producto.productoCategoria.nombre %></p>
            <p>medidas: <%= producto.medidas %></p>
            <p>marca: <%= producto.marca %></p>
            <img src="<%= producto.foto %>"> 
        </div>
        <p>Si querés comprar nuestros productos visitanos <a href="https://algodonera.mercadoshops.com.ar">acá</a></p>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>