<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h1 class="tituloDetalle"><%= producto.nombre %> <%= producto.modelo %></h1>
        <div class="cuerpoDetalle">
            <div class="infoDetalle">
                <p><%= producto.descripcion %></p>
                <p style="color:orange">tamaño: FALTA OBTENER EL DATO FALLA EL ALIAS <%= producto.productoCategoria.nombre %></p>
                <p>medidas: <%= producto.medidas %></p>
                <p>marca: <%= producto.marca %></p> 
            </div>
            <div class="contenedorImagenDetalle">
                <img src="/imagenes/<%= producto.foto %>" class="imagenDetalle">
            </div>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>