<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main class="contenedorDetalleProducto rellenoContenedorDetalle">
        <h1 class="tituloDetalleProducto"><%= producto.nombre %> <%= producto.modelo %></h1>
        <div class="detalleProducto">
            <div class="datosProducto">
                <p><%= producto.descripcion %></p>
                <p>Tamaño: <%= producto.productoTamanio.tamanio %></p>
                <p>Medidas: <%= producto.medidas %></p>
                <p>Marca: <%= producto.marca %></p> 
            </div>
            <div class="contenedorImagenProducto">
                <img src="/imagenes/<%= producto.foto %>" class="imagenProducto">
            </div>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>