<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h3>Buscador</h3>
        <form action="/buscar/categoria" method="GET">
            <select name="categoria">
                <option value="8">Seleccioná categoría</option>
            <% for(categoria of categorias){ %>
                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
            <% } %>
            </select>
            <button type="submit">Buscar</button>
        </form>
        <form action="/buscar/tamanio" method="GET">
            <select name="tamanio">
                <option>Seleccioná tamaño</option>
            <%  for(let tamanio of tamanios){ %>
                <option value="<%= tamanio.id %>"><%= tamanio.tamanio %></option>
            <% } %>
            </select>
            <button type="submit">Buscar</button>
        </form>

        <h3><a href="productos">Mirá todos nuestros productos</a></h3>
        <h1>Destacados</h1>
        <div class="destacados">
            <% for(let destacado of destacados){ %>
                <div class="productoDestacado">
                    <a href="/producto/<%= destacado.codigo %>"><%= destacado.nombre %> <%= destacado.modelo %> $<%= destacado.precio %></a>
                </div>
            <% } %>
        </div>
        <h1>Ofertas</h1>
        <div class="oferta">
                <% for(let oferta of ofertas){ %>
                    <div class="productoOferta">
                        <a href="/producto/<%= oferta.codigo %>"><%= oferta.nombre %> <%= oferta.modelo %> $<%= oferta.precio %> 
                            <!-- <%= oferta.precio != null ? oferta.precio : "" %> --></a> 
                    </div>
                <% } %>
        </div>
        <h1><a href="/contacto">Contactanos</a></h1>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>