<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <div class="banner">
        <div class="textoBanner">
            <h1>COMPAÑÍA ALGODONERA</h1>
            <p>Bienvenidos a Compañía Algodonera, una empresa <br> 
                argentina que busca el máximo confort en tu descanso.
            </p>
        </div>
    </div>
    <main class="mainHome">
        <section class="mainSuperior">
            <h3><a href="productos">Mirá todos nuestros productos</a></h3>
            <div class="buscador">
                <h3>Buscar</h3>
                <div class="filtro">
                    <form action="/buscar/categoria" method="GET">
                        <select name="categoria" class="selectFiltro">
                            <option value="8">Seleccioná categoría</option>
                        <% for(categoria of categorias){ %>
                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                        <% } %>
                        </select>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="filtro">
                    <form action="/buscar/tamanio" method="GET">
                        <select name="tamanio" class="selectFiltro">
                            <option>Seleccioná tamaño</option>
                        <%  for(let tamanio of tamanios){ %>
                            <option value="<%= tamanio.id %>"><%= tamanio.tamanio %></option>
                        <% } %>
                        </select>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="seccionesMain">
            <article class="seccionesInicio">
                <h1>Destacados</h1>
                <div class="listadoProductos">
                    <% for(let destacado of destacados){ %>
                        <div class="articuloListado">
                            <p><a href="/producto/<%= destacado.codigo %>"><%= destacado.nombre %> <%= destacado.modelo %></a></p>
                            <div class="imagenArticulo">
                                <img src="/imagenes/<%= destacado.foto %>" class="imagen">
                            </div>
                        </div>
                    <% } %>
                </div>
            </article>
            <article class="seccionesInicio">
                <h1>Ofertas</h1>
                <div class="listadoProductos">
                        <% for(let oferta of ofertas){ %>
                            <div class="articuloListado">
                            <p><a href="/producto/<%= oferta.codigo %>"><%= oferta.nombre %> <%= oferta.modelo %></a></p>
                                <div class="imagenArticulo">
                                    <img src="/imagenes/<%= oferta.foto %>" class="imagen">
                                </div>
                            </div>
                        <% } %>
                </div>
            </article>
        </section>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>