<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <div class="banner">
        <div class="textoBanner">
            <h1>COMPAÑÍA ALGODONERA</h1>
            <p>Bienvenidos a Compañía Algodonera, una empresa <br> 
                argentina que busca el máximo confort en tu descanso.
            </p>
        </div>
    </div>
    <main>
        <div class="buscador">
            <h3>Buscador</h3>
            <form action="/buscar/categoria" method="GET">
                <select name="categoria">
                    <option value="8">Seleccioná categoría</option>
                <% for(categoria of categorias){ %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% } %>
                </select>
                <button type="submit">Buscar</button>
            </form>
            <form action="/buscar/tamanio" method="GET">
                <select name="tamanio">
                    <option>Seleccioná tamaño</option>
                <%  for(let tamanio of tamanios){ %>
                    <option value="<%= tamanio.id %>"><%= tamanio.tamanio %></option>
                <% } %>
                </select>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <h3><a href="productos">Mirá todos nuestros productos</a></h3>
        <section class="seccionesInicio">
            <h1>Destacados</h1>
            <div class="destacados">
                <% for(let destacado of destacados){ %>
                    <div class="productoDestacado">
                        <a href="/producto/<%= destacado.codigo %>"><%= destacado.nombre %> <%= destacado.modelo %></a>
                        <img src="<%= destacado.foto %>">
                    </div>
                <% } %>
            </div>
        </section>
        <section class="seccionesInicio">
            <h1>Ofertas</h1>
            <div class="oferta">
                    <% for(let oferta of ofertas){ %>
                        <div class="productoOferta">
                            <a href="/producto/<%= oferta.codigo %>"><%= oferta.nombre %> <%= oferta.modelo %></a>
                            <img src="<%= oferta.foto %>"> 
                        </div>
                    <% } %>
            </div>
        </section>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>