<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <div class="banner">
        <div class="textoBanner">
            <h1 class="tituloBanner">COMPAÑÍA ALGODONERA</h1>
            <p>Bienvenidos a Compañía Algodonera, una Empresa <br> 
                Argentina que busca el máximo confort en tu descanso.
            </p>
        </div>
    </div>
    <main class="mainHome">
        <section class="mainSuperior">
            <h3 class="linkListado"><a href="productos" class="linkAlListado">Mirá todos nuestros productos</a></h3>
            <div class="buscadorcito">
                <button class="botonBuscadorcito">Filtros</button>
            </div>
            <div class="buscador">
                <h3 class="tituloBuscador tituloBuscadorCelu">Buscar</h3>
                <div class="filtro">
                    <form action="/buscar/categoria" method="GET">
                        <select name="categoria" class="selectFiltro">
                            <option value="8">Seleccioná categoría</option>
                        <% for(categoria of categorias){ %>
                            <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                        <% } %>
                        </select>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="filtro">
                    <form action="/buscar/tamanio" method="GET">
                        <select name="tamanio" class="selectFiltro">
                            <option>Seleccioná tamaño</option>
                        <%  for(let tamanio of tamanios){ %>
                            <option value="<%= tamanio.id %>"><%= tamanio.tamanio %></option>
                        <% } %>
                        </select>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="seccionesMain">
            <article>
                <h1 class="tituloCategoria">Destacados</h1>
                <div class="listadoProductos">
                    <% for(let destacado of destacados){ %>
                        <div class="articuloListado">
                            <a href="/producto/<%= destacado.codigo %>" class="tituloArticuloListado"><%= destacado.nombre %> <%= destacado.modelo %></a>
                            <div class="imagenArticulo">
                                <img src="<%= destacado.path %>" class="imagen">
                            </div>
                            <div class="descripcionArticulo">
                                <p><%= destacado.descripcionCorta %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </article>
            <article>
                <h1 class="tituloCategoria">Ofertas</h1>
                <div class="listadoProductos">
                        <% for(let oferta of ofertas){ %>
                            <div class="articuloListado">
                                <a href="/producto/<%= oferta.codigo %>" class="tituloArticuloListado"><%= oferta.nombre %> <%= oferta.modelo %></a>
                                <div class="imagenArticulo">
                                    <img src="<%= oferta.path %>" class="imagen">
                                </div>
                                <div class="descripcionArticulo">
                                    <p><%= oferta.descripcionCorta %></p>
                                </div>
                            </div>
                        <% } %>
                </div>
            </article>
        </section>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>