<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <section class="categorias">
            <h3 class="tituloCategoria">Sábanas</h3>
            <div class="listadoProductos">
                <% for(let sabana of sabanas){ %>
                    <div class="articuloListado">
                        <p><a href="/producto/<%= sabana.codigo %>"><%= sabana.nombre %> <%= sabana.modelo %></a></p>
                        <div class="imagenArticulo">
                            <img src="/imagenes/<%= sabana.foto %>" width="100px">
                        </div>   
                    </div>
                <% } %>
            </div>
        </section>
        <section class="categorias">
            <h3 class="tituloCategoria">Fundas</h3>
            <div class="listadoProductos">
                <% for(let funda of fundas){ %>
                    <div class="articuloListado">
                        <p><a href="/producto/<%= funda.codigo %>"><%= funda.nombre %> <%= funda.modelo %><a></p>
                        <div class="imagenArticulo">    
                            <img src="/imagenes/<%= funda.foto %>" width="100px">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        <section class="categorias">
            <h3 class="tituloCategoria">acolchados</h3>
            <div class="listadoProductos">
                <% for(let acolchado of acolchados){ %>
                    <div class="articuloListado">
                        <p><a href="/producto/<%= acolchado.codigo %>"><%= acolchado.nombre %> <%= acolchado.modelo %></a></p>
                        <div class="imagenArticulo">
                            <img src="/imagenes/<%= acolchado.foto %>" width="100px">
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>