<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main class="contenedorListado">
        <section class="categorias">
            <h1 class="tituloCategoria">Sábanas</h1>
            <div class="listadoProductos">
                <% for(let sabana of sabanas){ %>
                    <div class="articuloListado">
                        <a href="/producto/<%= sabana.codigo %>" class="tituloArticuloListado"><%= sabana.nombre %> <%= sabana.modelo %></a>
                        <div class="imagenArticulo">
                            <img src="<%= sabana.path %><%= sabana.foto %>" class="imagen">
                        </div> 
                        <div class="descripcionArticulo">
                            <p><%= sabana.descripcionCorta %></p>
                        </div>  
                    </div>
                <% } %>
            </div>
        </section>
        <section class="categorias">
            <h1 class="tituloCategoria">Fundas de edredon</h1>
            <div class="listadoProductos">
                <% for(let funda of fundas){ %>
                    <div class="articuloListado">
                        <a href="/producto/<%= funda.codigo %>" class="tituloArticuloListado"><%= funda.nombre %> <%= funda.modelo %></a>
                        <div class="imagenArticulo">
                            <img src="<%= funda.path %><%= funda.foto %>" class="imagen">
                        </div>
                        <div class="descripcionArticulo">
                            <p><%= funda.descripcionCorta %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        <section class="categorias">
            <h1 class="tituloCategoria">Edredones</h1>
            <div class="listadoProductos">
                <% for(let edredon of edredones){ %>
                    <div class="articuloListado">
                        <a href="/producto/<%= edredon.codigo %>" class="tituloArticuloListado"><%= edredon.nombre %> <%= edredon.modelo %></a>
                        <div class="imagenArticulo">
                            <img src="<%= edredon.path %><%= edredon.foto %>" class="imagen">
                        </div>
                        <div class="descripcionArticulo">
                            <p><%= edredon.descripcionCorta %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
        <section class="categorias">
            <h1 class="tituloCategoria">Acolchados</h1>
            <div class="listadoProductos">
                <% for(let acolchado of acolchados){ %>
                    <div class="articuloListado">
                        <a href="/producto/<%= acolchado.codigo %>" class="tituloArticuloListado"><%= acolchado.nombre %> <%= acolchado.modelo %></a>
                        <div class="imagenArticulo">
                            <img src="<%= acolchado.path %><%= acolchado.foto %>" class="imagen">
                        </div>
                        <div class="descripcionArticulo">
                            <p><%= acolchado.descripcionCorta %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>