<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>   
    <main>
        <h4><%= persona.nombre %> gracias por contactarnos, pronto te estaremos contestando
        en tu casilla de correo <%= persona.mail %></h4>
        <p>Si querés comprar nuestros productos visitanos <a href="https://algodonera.mercadoshops.com.ar">acá</a></p>
        <!-- <div class="verListado">
            <h3><a href="productos">Mirá todos nuestros productos</a></h3>
        </div> -->
        </main>
    <%- include("../parciales/footer") %>
</body>
</html>