<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h2>Productos del tamaño</h2>
        <div class="listadoProductos">
            <% for(let producto of productos){ %>
                <div class="articuloListado">
                    <p><a href="/producto/<%= producto.codigo %>"><%= producto.nombre %> <%= producto.modelo %></a></p>
                    <div class="imagenArticulo">    
                        <img src="/archivos/fundaedredonBoston.JPG" width="80px">
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>