<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main class="contenedorListado">
        <h1 class="tituloCategoria">Productos de la categoria</h1>
        <div class="listadoProductos">
            <% for(let producto of productos){ %>
                <div class="articuloListado">
                    <a href="/producto/<%= producto.codigo %>" class="tituloArticuloListado"><%= producto.nombre %> <%= producto.modelo %></a>
                    <div class="imagenArticulo">
                        <img src="/imagenes/<%= producto.foto %>" class="imagen">
                    </div>
                    <div class="descripcionArticulo">
                        <p><%= producto.descripcion %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>