<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/header") %>
    <main>
        <h1>Crear producto</h1>
        <form action="/admin/crear" method="POST" enctype="multipart/form-data">
            <div class="inputsCrear">
                <input type="text" name="codigo" placeholder="codigo">
            </div>
            <div class="inputsCrear">
                <input type="text" name="nombre" placeholder="producto">
            </div>
            <div class="inputsCrear">
                <input type="text" name="modelo" placeholder="modelo">
            </div>
            <div class="inputsCrear">
                <input type="text" name="marca" placeholder="marca">
            </div>
            <div class="inputsCrear">
                <textarea name="descripcion" placeholder="descripcion"></textarea>
            </div>
            <div class="inputsCrear">
                <input type="precio" name="precio" placeholder="precio">
            </div>
            <div class="inputsCrear">
                <input type="text" name="medidas" placeholder="medidas">
            </div>
            <div class="inputsCrear">
                <select name="categoria">
                    <% for(let categoria of categorias){ %>
                        <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                    <% } %>
                </select>
            </div>
            <div class="inputsCrear">
                <select name="tamanio">
                    <% for(let tamanio of tamanios){ %>
                        <option value="<%= tamanio.id %>"><%= tamanio.tamanio %></option>
                        <% } %>
                </select>
            </div>
            <div class="inputsCrear">
                <input type="radio" name="destacado" value="si">Destacado
                <input type="radio" name="destacado" value="no">No destacado
            </div>
            <div class="inputsCrear">
                <input type="radio" name="oferta" value="si">En oferta
                <input type="radio" name="oferta" value="no">Sin oferta
            </div>
            <div class="inputsCrear">
                <input type="file" name="foto">
            </div>
            <div class="botonesCrear">
                <button type="submit">Crear</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>