<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorDetalleProducto">
        <h1 class="tituloDetalleProducto">Producto <%= producto.codigo %></h1>
        <div class="detalleProducto">
            <div class="datosProducto">
                <p>Producto: <%= producto.nombre %></p>
                <p>Modelo: <%= producto.modelo %></p>
                <p>Marca: <%= producto.marca %></p>
                <p>Categoría: <%= producto.productoCategoria.nombre %></p>
                <p>Tamaño: <%= producto.productoTamanio.tamanio %> </p>
                <p>Medidas: <%= producto.medidas %></p>
                <p>Descripción Corta: <%= producto.descripcionCorta %></p>
                <p>Descripción: <%= producto.descripcion %></p>
                <p>Codigo: <%= producto.codigo %></p>
                <p>Destacado: <%= producto.destacado %></p>
                <p>En oferta: <%= producto.oferta %></p>
            </div>
            <div class="contenedorImagenProducto">
                <img src="<%= producto.path %><%= producto.foto %>" class="imagenProducto">
            </div>
        </div>
        <div class="botonesDetalleProducto">
            <button class="botonDetalleProducto"><a href="/admin/producto/<%= producto.codigo %>" class="botonLinkEditarProducto">Editar</a></button>
            <form action="/admin/producto/<%= producto.codigo %>?_method=DELETE" method="POST">
                <button type="submit" class="botonDetalleProducto">Borrar</button>
            </form>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>