<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <p>Producto: <%= producto.nombre %></p>
        <p>Modelo: <%= producto.modelo %></p>
        <p>Marca: <%= producto.marca %></p>
        <p>Categoría: <%= producto.idCategorias %></p>
        <p>Tamaño: <%= producto.idTamanios %></p>
        <p>Medidas: <%= producto.medidas %></p>
        <p>Descripción: <%= producto.descripcion %></p>
        <p>Codigo: <%= producto.codigo %></p>
        <p>Destacado: <%= producto.destacado %></p>
        <p>En oferta: <%= producto.oferta %></p>
        <img src="/imagenes/<%= producto.foto %>" width="100px">
        <button><a href="/admin/producto/<%= producto.codigo %>">Editar</a></button>
        <form action="/admin/producto/<%= producto.codigo %>?_method=DELETE" method="POST">
            <button type="submit">Borrar</button>
        </form>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>