<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main class="contenedorMensajes">
        <h1 class="tituloVistaMensaje">Detalle mensaje</h1>
        <div class="mensajes">
            <p class="textoMensaje">Remitente: <%= mensaje.nombre %></p>
            <p class="textoMensaje">Contacto: <%= mensaje.mail %></p>
            <p class="textoMensaje">Asunto: <%= mensaje.asunto %></p>
            <p class="textoMensaje">Consulta: <%= mensaje.texto %></p>
            <form action="/admin/mensaje/<%= mensaje.id %>?_method=DELETE" method="POST">
                <button type="submit" class="textoMensaje">Eliminar</button>
            </form>
        </div>
        <div class="linkVolver">
            <a href="/admin/mensajes" class="textoMensaje">Volver a los mensajes</a>
        </div>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>