<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h4>Listado de productos</h4>
        <% for(producto of productos){ %>
            <div>
                <a href="/admin/detalle/<%= producto.codigo %>"><%= producto.nombre %> <%= producto.modelo %></a>
            </div>
        <% } %>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>