<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h1 class="tituloVistaMensaje">Listado de productos</h1>
        <% for(producto of productos){ %>
            <div class="mensajes">
                <a class="textoMensaje" href="/admin/detalle/<%= producto.codigo %>"><%= producto.nombre %> <%= producto.modelo %></a>
            </div>
        <% } %>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>