<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h4>Listado de equipos</h4>
        <% for(producto of productos){ %>
            <div>
                <p><%= producto.codigo %> <%= producto.nombre %> <%= producto.modelo %></p>
            </div>
        <% } %>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>