<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h1 class="tituloVistaMensaje">Mensajes de visitantes</h1>
        <ul>
            <% for(let mensaje of mensajes){ %>
                <div class="mensajes">
                    <form action="/admin/mensaje/<%= mensaje.id %>?_method=DELETE" method="POST">
                        <div class="mensaje">
                            <a href="/admin/mensaje/<%= mensaje.id %>" class="textoMensaje"><%= mensaje.nombre %> -- <%= mensaje.asunto %></a>
                            <button type="submit" class="textoMensaje">Eliminar</button>
                        </div>
                    </form>
                </div>
            <% } %>
        </ul>
        <a href="/admin/panel">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>