<!DOCTYPE html>
<html lang="en">
<%- include("../parciales/head") %>
<body>
    <%- include("../parciales/headerAdmin") %>
    <main>
        <h1>Mensajes de visitantes</h1>
        <ul>
            <% for(let mensaje of mensajes){ %>
                <form action="/admin/mensaje/<%= mensaje.id %>?_method=DELETE" method="POST">
                    <li><a href="/admin/mensaje/<%= mensaje.id %>"><%= mensaje.nombre %> <%= mensaje.asunto %> <%= mensaje.mail %></a></li>
                    <button type="submit">Eliminar</button>
                </form>
            <% } %>
        </ul>
        <a href="/admin/panel">Volver</a>
    </main>
    <%- include("../parciales/footer") %>
</body>
</html>